<section class="mb-10">
  <div class="p-5 text-center bg-image">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8 glass py-5">
            <div class="text-white">
              <h2 class="mb-4 px-4 px-md-5 display-3 fw-bold ls-tight">
                <span>Big clean</span>
              </h2>
              <p class="text-white lead mb-0 px-4 px-md-5">
                Solutia ta pentru o curatienie profesionala
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="home-body m-auto">
  <div class="wrapper flex align-items-center">
    <img class="hero1 mt-4" src="../../../assets/img2.jpg" alt="vacuum" />
    <div class="wall-text flex flex-column mx-4">
      <span class="mb-3 text-justify"
        >Învață să trăiești într-un spațiu impecabil cu ajutorul echipei noastre
        de experți în curățenie! La Big clean, transformăm fiecare loc într-un
        sanctuar de prospețime și strălucire. Cu un angajament ferm față de
        calitate, suntem alegerea perfectă pentru tine.</span
      >
      <span class="mb-3 text-justify"
        >Profesionalismul definește standardul: Echipa noastră de curățenie este
        alcătuită din profesioniști calificați și dedicați, gata să ofere
        servicii de cea mai înaltă calitate. Ne asigurăm că fiecare detaliu este
        tratat cu atenție și grijă, astfel încât să te bucuri mereu de un mediu
        curat și sănătos.</span
      >
      <span class="mb-3 text-justify"
        >Produse Eco-friendly: Suntem angajați să protejăm atât mediul
        înconjurător, cât și sănătatea ta. Utilizăm doar produse de curățenie
        ecologice și non-toxice, astfel încât spațiul tău să fie nu doar curat,
        ci și sigur pentru întreaga ta familie sau echipă.</span
      >
    </div>
  </div>
  <div class="wrapper flex align-items-center">
    <div class="wall-text flex flex-column mx-4">
      <span class="mb-3 text-justify"
        >Învață să trăiești într-un spațiu impecabil cu ajutorul echipei noastre
        de experți în curățenie! La Big clean, transformăm fiecare loc într-un
        sanctuar de prospețime și strălucire. Cu un angajament ferm față de
        calitate, suntem alegerea perfectă pentru tine.</span
      >
      <span class="mb-3 text-justify"
        >Profesionalismul definește standardul: Echipa noastră de curățenie este
        alcătuită din profesioniști calificați și dedicați, gata să ofere
        servicii de cea mai înaltă calitate. Ne asigurăm că fiecare detaliu este
        tratat cu atenție și grijă, astfel încât să te bucuri mereu de un mediu
        curat și sănătos.</span
      >
      <span class="mb-3 text-justify"
        >Produse Eco-friendly: Suntem angajați să protejăm atât mediul
        înconjurător, cât și sănătatea ta. Utilizăm doar produse de curățenie
        ecologice și non-toxice, astfel încât spațiul tău să fie nu doar curat,
        ci și sigur pentru întreaga ta familie sau echipă.</span
      >
    </div>
    <img class="hero1 mt-4" src="../../../assets/img3.jpg" alt="vacuum" />
  </div>
</div>
