<section class="mb-10">
  <div class="p-5 text-center bg-image">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8 glass py-5">
            <div class="text-white">
              <h2 class="mb-4 px-4 px-md-5 display-3 fw-bold ls-tight">
                <span>Big clean</span>
              </h2>
              <p class="text-white lead mb-0 px-4 px-md-5">
                Solutia ta pentru o curatienie profesionala
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
