<div class="pt-3 container">
  <div class="logo-container cursor-pointer" (click)="navigateHome()">
    <img src="../../../favicon.ico" alt="Big clean" />
    <span class="font-bold ml-3">Big Clean</span>
  </div>
  <div class="flex">
    <p-tabMenu
      class="flex justify-content-center"
      [model]="items"
      [activeItem]="activeItem"
    >
    </p-tabMenu>
    <p-button class="offer">Solicita oferta</p-button>
  </div>
</div>
<p-divider class="flex justify-content-center"></p-divider>
