<div class="bg-blue-100">
  <div class="wrapper m-auto flex justify-content-evenly w-9 pt-4">
    <div class="usefull-links flex flex-column text-xs">
      <span class="text-xl">Linkuri utile</span>
      <div class="flex flex-column usefull-links-wrapper text-900 mt-2">
        <a class="no-underline hover:underline text-900" href="#"
          ><i class="pi pi-fw pi-home"></i>Acasa</a
        >
        <a class="no-underline hover:underline text-900" href="#"
          ><i class="pi pi-fw pi-cog"></i>Servicii</a
        >
        <a class="no-underline hover:underline text-900" href="#"
          ><i class="pi pi-fw pi-briefcase"></i>Dotari</a
        >
        <a class="no-underline hover:underline text-900" href="#"
          ><i class="pi pi-fw pi-id-card"></i>Despre noi</a
        >
      </div>
    </div>
    <div class="logo">
      <img src="../../../favicon.ico" alt="Big clean" />
    </div>
    <div class="contact">
      <span class="text-xl">Contact</span>
      <div class="social-media flex justify-content-around mt-2">
        <a class="text-900" href="#"><i class="pi pi-fw pi-facebook"></i></a>
        <a class="text-900" href="#"><i class="pi pi-fw pi-instagram"></i></a>
      </div>
    </div>
  </div>
  <p-divider class="flex justify-content-center"></p-divider>
  <div class="flex justify-content-center text-xs text-400">
    Copyright &#169;2024 isanda. Design by Ionut Sanda. All rights reserved.
  </div>
</div>
