<p-divider class="flex justify-content-center"></p-divider>

<div>
  <div class="wrapper m-auto w-9 pt-4">
    <div class="usefull-links">
      <div class="flex flex-row justify-content-evenly mt-2 mx-8">
        <a class="no-underline hover:underline mb-2 text-bluegray-500" href="#"
          >Acasa</a
        >
        <a class="no-underline hover:underline mb-2 text-bluegray-500" href="#"
          >Servicii</a
        >
        <a class="no-underline hover:underline mb-2 text-bluegray-500" href="#"
          >Dotari</a
        >
        <a class="no-underline hover:underline mb-2 text-bluegray-500" href="#"
          >Despre noi</a
        >
      </div>
      <div class="social-links flex justify-content-center gap-3 mt-4">
        <a class="text-bluegray-500" href="#"
          ><i class="pi pi-fw pi-facebook text-2xl"></i
        ></a>
        <a class="text-bluegray-500" href="#"
          ><i class="pi pi-fw pi-instagram text-2xl"></i
        ></a>
      </div>
    </div>
    <!-- <div class="contact">
      <div class="social-media flex justify-content-around mt-2">
      </div>
    </div> -->
  </div>
  <p-divider class="flex justify-content-center"></p-divider>
  <div class="flex justify-content-center text-xs text-400">
    Copyright &#169;2024. Design by Ionut Sanda. All rights reserved.
  </div>
</div>
